section.blog-section
    .spec-blog-item-outer
        .wrap.wrap_size_large
            .spec-blog-item
                .spec-blog-item__date 12 / 12 / 18
                .spec-blog-item__title-wr
                    h2.spec-blog-item__title Microsoft Platinum Parntner Membership
                .spec-blog-item__txt-n-button
                    .spec-blog-item__txt From the speed and effectiveness of the work of employees depends ovn the development of business. Creation of personal knowledge base, storage of documents and ensuring their safety
                    .spec-blog-item__button
                        a.btn(href="#") Full Article
    .normal-blog-items-outer
        .wrap.wrap_size_large
            .normal-blog-items
                .normal-blog-items__inner
                    .normal-blog-items__el
                        .normal-blog-items__el-inner
                            a(href="#").normal-blog-items__el-img-wr
                                .normal-blog-items__el-date 12 / 12 / 18
                                .normal-blog-items__el-img(style="background-image: url(/images/content/common/news1.jpg)")
                            .normal-blog-items__cont
                                a.normal-blog-items__el-title(href="#")
                                    h2 Core Business Processes in Finance
                                .normal-blog-items__el-txt.
                                    From the speed and effectiveness of the work of
                                    employees depends on the development of business.
                                    Creation of personal knowledge base, storage of
                                    documents and ensuring their safety
                                .normal-blog-items__el-btn-wr
                                    a.btn(href="#") Full Article
                    .normal-blog-items__el
                        .normal-blog-items__el-inner
                            a(href="#").normal-blog-items__el-img-wr
                                .normal-blog-items__el-date 12 / 12 / 18
                                .normal-blog-items__el-img(style="background-image: url(/images/content/common/news1.jpg)")
                            .normal-blog-items__cont
                                a.normal-blog-items__el-title(href="#")
                                    h2 Core Business Processes in Finance
                                .normal-blog-items__el-txt.
                                    From the speed and effectiveness of the work of
                                    employees depends on the development of business.
                                    Creation of personal knowledge base, storage of
                                    documents and ensuring their safety
                                .normal-blog-items__el-btn-wr
                                    a.btn(href="#") Full Article
                    .normal-blog-items__el
                        .normal-blog-items__el-inner
                            a(href="#").normal-blog-items__el-img-wr
                                .normal-blog-items__el-date 12 / 12 / 18
                                .normal-blog-items__el-img(style="background-image: url(/images/content/common/news1.jpg)")
                            .normal-blog-items__cont
                                a.normal-blog-items__el-title(href="#")
                                    h2 Core Business Processes in Finance
                                .normal-blog-items__el-txt.
                                    From the speed and effectiveness of the work of
                                    employees depends on the development of business.
                                    Creation of personal knowledge base, storage of
                                    documents and ensuring their safety
                                .normal-blog-items__el-btn-wr
                                    a.btn(href="#") Full Article