-
    var footer__menu = [
    {
    title: 'Solutions',
    url:    '#'
    },
    {
    title: 'Consulting',
    url:    '#'
    },
    {
    title: 'Case Studies',
    url:    '#'
    },
    {
    title: 'Blog',
    url:    '#'
    },
    {
    title: 'On-line Shop',
    url:    '#'
    }
    ]
footer.footer
    .section_content__wrapp
        .footer_cont-wr
            .wr-row.menu
                .footer__logo
                    img(src="images/footer_logo.png")
                .footer_nav__menu
                    ul.footer__menu
                        each item in footer__menu
                            li
                                a(href=item.url)= item.title
            .wr-row.content
                .flex-col
                    p.footer-text In a world where the pace of change is constantly increasing, how do you take control of your business?
                    p.footer-text Adapt faster.Syntegra provides the data consultancy you need to transform your business into a DataDriven enterprise that can respond quickly to change.
                    p.adress Ukraine, Kiev, 04078, Sergey Danchenko, 8
                .flex-col.footer-link
                    a(href="#") MICROSOFT DYNAMICS HOSTING
                    a(href="#") CLOUD INFRASTRUCTURE
                    a(href="#") CLOUD IMPLEMENTATION
                    a(href="#") CLOUD MIGRATION
                .flex-col.footer-link
                    a(href="#") FINANCIAL SERVICES
                    a(href="#") PROFESSIONAL SERVICES
                    a(href="#") PROPERTY MANAGEMENT
                    a(href="#") WHOLESALE DISTRIBUTION
                    a(href="#") MEDIA & ENTERTAINMENT DISTRIBUTION
                    a(href="#") METALS & ALLOY DISTRIBUTION
    .wr-row.align-items-center
        .banner__contact
            .banner__skype
                .icon-mobile-phone
                    a(href="tel:+38 044 364 7779")
                a(href="skype:syntegra.ua") syntegra.ua
            .banner__tel
                .icon-skype
                    a(href="skype:syntegra.ua")

                a(href="tel:+38 044 364 7779") +38 044 364 7779
        .wrapp_menu-info
            ul.menu-info
                li
                    a(href='#') Terms of Use
                li
                    a(href='#') Privacy
                li
                    a(href='#') Site Map

            .copyright Copyright © 2017 Syntegra, Inc.  All Rights Reserved
    .footer_by_wdss
        a(href="http://wdss.com.ua/" target="_blank") created by WD&SS
        p.wdss_cont Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
.modal-over
.modal-window_forms
    .modal-window_wrapp
        .modal-window-caption.cap_type_orange Make request
        .modal-window-body



