section.section.section_partners
    .section_content__wrapp
        .partners_wrapp__logo
            .partners__logo
                img(src="../images/micros.jpg")
            .partners__logo
                img(src="../images/hp.png")
            .partners__logo
                img(src="../images/lenovo.png")
            .partners__logo
                img(src="../images/dell.png")
            .partners__logo
                img(src="../images/cisco.png")
            .partners__logo
                img(src="../images/xerox.png")
        h2.section_partners__title OUR PARTNERS