section.section.section_slider
    .slider__wr
        .slider__slick
            .slick__item_wr
                .item_slick(style="background-image:url(../images/bg/bg_go_data.png);")
                .slick__content Go Data Driven
            .slick__item_wr
                .item_slick(style="background-image:url(../images/bg/serveless.png);")
                .slick__content Go Serverless
            .slick__item_wr
                .item_slick(style="background-image:url(../images/bg/bg_go_visual.png);")
                .slick__content Go Visual
            .slick__item_wr
                .item_slick(style="background-image:url(../images/bg/bg_go_data.png);")
                .slick__content Go Visual 2
