-
    var technolies = [
    't_html.png',
    't_css.png',
    't_js.png',
    't_jquery.png',
    't_json.png',
    't_ajax.png',
    ];
section.technoused
    .wrap.wrap_size_middle
        .technoused__title-wr
            h3.technoused__cap.cap_type_orange Technologies used
            .technoused__subtitle From the speed and effectiveness of the work of employees depends ovn the development of business. Creation of personal
        .technoused-wr
            each technology in technolies
                .technoused-el
                    img(src="/images/content/common/" + technology)