doctype html
html
    include ../include/head.pug
    body.home-page
        main.main_wrapp
            include ../include/header.pug
            .banner__bg
                .banner__content
                    .banner__wr_content INFRASTRUCTURE AND SECURITY EXPERTS
                     button.banner__btn_yellow Detail
            include ../include/services_slider.pug
            .industrial_revolution
                .industrial_revolution__title Industrial Revolution
                .industrial_revolution__text От скорости и эффективности работы сотрудников зависит развитие бизнеса.
                                            |Cоздание персональной базы знаний, хранение документов и обеспечение их сохранности, корпоративная платформа для ведения коммуникаций с клиентами
                                            |и внутри компании - теперь доступны для Вашей компании в любой точке мира,
                                            |на любом устройстве.
            section.section.section_practices#particles-wr
                .section_practices__wr
                    .container-fluid
                        h2.section_practices__title Best Practices
                        .row
                            .col-lg-3
                                .item_practices
                                    .practices__title
                                        We share knowledge
                                        |and the best software development
                                        |practices for companies
                                        |amongst others
                                    .practices__content
                                        p Worthwhile to arise corporate knowledge even if there are no comprehensive processes to reach success in knowledge management and completely avoid corporate ignorance. However, meticulous day-to-day activities focused on both direct and indirect actions are compulsory to elaborate bespoke procedures for knowledge management.
                                        p Knowledge management best practices include an individual experience and ability to build effective communication amidst the team and between teams for the most valuable aim — successfully develop software to reach customer's business goals.
                            .col-lg-3
                                .item_practices
                                    .practices__title
                                        We share knowledge
                                        | and the best software development
                                        | practices for companies
                                        | amongst others
                                    .practices__content
                                        p Worthwhile to arise corporate knowledge even if there are no comprehensive processes to reach success in knowledge management and completely avoid corporate ignorance. However, meticulous day-to-day activities focused on both direct and indirect actions are compulsory to elaborate bespoke procedures for knowledge management.
                                        p Knowledge management best practices include an individual experience and ability to build effective communication amidst the team and between teams for the most valuable aim — successfully develop software to reach customer's business goals.
                            .col-lg-6
                                .item_practices
                                    .practices__title_big
                                        |COLLABORATION BETWEEN SOFTWARE DEVELOPMENT TEAMS HELPS MANAGERS AND DEVELOPERS
                                        |TO CAPTURE, ARCHIVE, AND EFFICIENTLY
                                        |USE KNOWLEDGE
                                    .practices__content
                                        p Worthwhile to arise corporate knowledge even if there are no comprehensive processes to reach success in knowledge management and completely avoid corporate ignorance. However, meticulous day-to-day activities focused on both direct and indirect actions are compulsory to elaborate bespoke procedures for knowledge management.
                                        p Knowledge management best practices include an individual experience and ability to build effective communication amidst the team and between teams for the most valuable aim — successfully develop software to reach customer's business goals.
                                    .block_ready
                                        h4 Ready to take your business to new heights?
                                        button.banner__btn_yellow Get Started
            section.section.section-expirience
                .section-expirience__wrapp
                    .container-fluid
                        .row
                            .col-lg-4
                                .section-expirience__item
                                    .item_title
                                        img(src="images/shape1.png")
                                        span.section-expirience__count(data-value="8") 0
                                        |years
                                    .item__text IT Expirience
                            .col-lg-4
                                .section-expirience__item
                                    .item_title
                                        img(src="images/shape2.png")
                                        span.section-expirience__count(data-value="70") 0
                                        |+
                                    .item__text Successful Projects
                            .col-lg-4
                                .section-expirience__item
                                    .item_title
                                        img(src="images/shape3.png")
                                        span.section-expirience__count(data-value="77") 0
                                        |+ years
                                    .item__text Expert team expirience
            section.section.section_microsoft
                .content__wrap
                    .block__productivity
                        .wr-row.section_microsoft__top-block
                            h2.section_microsoft__title Business Productivity
                            .section_microsoft_txt MICROSOFT DYNAMICS 365
                        .wr-row
                            .flex-col
                                .banner__btn_yellow Details
                                .content_txt From the speed and effectiveness of the work of employees depends on the development of business. Creation of personal knowledge base, storage of documents and ensuring their safety, corporate platform for communicating with customers and within the company - are now available to your company anywhere in the world,on any device.
                    .section_microsoft__cloud
                        .wr-row
                            .flex-col
                                h2.section_microsoft__cloud-title Cloud for business
                                .content-box Cloud Computing is a set of technologies that enable business to concentrate on solving its key tasks, without spending time and effort on non-core IT assets. Regardless of the service model (IaaS, PaaS, SaaS), SYNTEGRA will help virtualize your information environment.
                                a.btn__blue Details
                            .flex-col
                                .microsoft__cloud_wr-img
                                    img(src="images/bg/m_azure.png")
            section.section.section-intelligence
              .content__wrap
                    .wr-bg__content
                        img(src="images/red.png").content__img
                    .section-intelligence__content
                        .section-intelligence__title ARTIFICIAL INTELLIGENCE
                        .section-intelligence__text Big Data technology directly affects the efficiency of processing large amounts of information and the speed of decision making, which in turn affects the competitiveness of the business and leads to an increase in the operating profit of your company. Introduction allows to speed up the analysis of information data for the purpose of correct and their beneficial use.
                        .banner__btn_yellow Details

            section.section.section-our-team
                .section-our-team__content__wrap
                    .wr__our-team
                        .our-team__item
                            img(src="images/item1.png")
                            .our-team__name.first
                                .item__name IVAN IVANOV
                                .item__position CEO
                        .our-team__item
                            img(src="images/item2.png")
                            .our-team__name
                                .item__name ISAAC ROSENFELD
                                .item__position MANAGING DIRECTOR
                        .our-team__item
                            img(src="images/item3.png")
                            .our-team__name.last
                                .item__name Victor tsoy
                                .item__position VICE PRESIDENT
                .section-our-team__speech
                    .section-our-team__content
                        p The main direction of SYNTEGRA activity is consulting, development and implementation of innovative solutions, with the use of Artificial Intelligence (AI), Machine Learning (ML), Data Technology technologies necessary for business automation and enhancement of its operations.
                        p Our goal is to help customers correctly use modern technologies, get the maximum effect from them at optimal resource costs, increase the level of informatization and Our goal is to help customers correctly use modern technologies, get the maximum effect from them at optimal resource costs, increase the level of informatization and automation of Ukrainian business, processing and analysis of information.
                        img(src="images/signature.png")
            section.section.section_gallery
                h3.section-our-team__success SUCCESS STORIES
                .section_gallery__wrapp
                    .section_gallery__item(style="background-image:url('../images/g1.png');")
                        .section_gallery__overlay
                        h4.gallery_item__title ferrero

                    .section_gallery__item(style="background-image:url('../images/g2.png');")
                        .section_gallery__overlay
                        h4.gallery_item__title ferrero

                    .section_gallery__item(style="background-image:url('../images/g3.png');")
                        .section_gallery__overlay
                        h4.gallery_item__title ferrero

                    .section_gallery__item(style="background-image:url('../images/g4.png');")
                        .section_gallery__overlay
                        h4.gallery_item__title ferrero

                    .section_gallery__item(style="background-image:url('../images/g5.png');")
                        .section_gallery__overlay
                        h4.gallery_item__title ferrero

            include ../include/partners.pug
            include ../include/section_busines.pug
            include ../include/footer.pug