doctype html
html
    include ../include/head.pug
    body.services-page
        main.main_wrapp
            include ../include/header.pug
            section.underhead
                .wrap.wrap_size_large
                    .breadcrumbs
                        ul
                            li
                                a(href="/") Home
                            li
                                span Services
                    h3.underhead__title Services
            include ../include/services_slider.pug
            include ../include/section_busines.pug
            include ../include/footer.pug