-
    var visualItems = [
    {
    title: 'Productivity',
    text: 'Azure offers more than 100 services, including comprehensive tools to improve your productiv'
    },
    {
    title: 'Hybrid environment',
    text: 'Develop and deploy in a convenient place for you with the help of a single coherent hybrid cloud in the market. Expand the possibilities of local Azure deployment using Azure Stack.'
    },
    {
    title: 'Intelligence',
    text: 'Create intelligent applications using powerful data processing and artificial intelligence ser'
    },
    {
    title: 'Reliability',
    text: 'Join start-ups, government organizations and 90% of Fortune 500 companies that already use Microsoft Cloud.'
    }
    ];
doctype html
html
    include ../include/head.pug
    body.services-item.go-servless-page
        main.main_wrapp
            include ../include/header.pug
            section.underhead(style="background-image:url(../images/bg/serveless.png)")
                .wrap.wrap_size_large
                    .breadcrumbs
                        ul
                            li
                                a(href="/") Home
                            li
                                span Go Serverless
                    h3.underhead__title Go Serverless
            section.section_content_top.bg_color_grey
                .wrapp.wr-content_top
                    h2.cap_type_orange Microsoft Azure
                    .container-fluid
                        .row
                            .col-lg-6
                                .content_section-azure Embody your ideas in a new application, rethink the existing system or confidently create a hybrid cloud application on any platform and at any stage of the transition to the cloud. Azure. Cloud for all.
                                img(src="images/ms-azure.png")
                            .col-lg-6
                                .wr-img-top
                                    img(src="images/azure.png")

            section.section_service-go-visual
                .wr-section_cont
                    h2.cap_type_orange Services
                    .subtitle_cap From the speed and effectiveness of the work of employees depends ovn the development of business. Creation of personal
                .block_item-services
                    each item in visualItems
                        .item-services__go-visual
                            a(href="#").item-services__link
                                .item-services__wrapp
                                    .item-services__go-visual-cap= item.title
                                    .item-services__go-visual_info= item.text
            section.section_microsoft-office.bg_color_grey
                .microsoft-office__wr
                    .wr-col
                        h2.microsoft-office__cap.cap_type_orange Microsoft Office 365
                        .microsoft-office__content Tse not znayyomlyuvalna Versia! Uchnі ta vchitilі mozyut dzokoshtno otrimati "Office 365 for osviti", which includes Word, Excel, PowerPoint, OneNote and Microsoft Teams, plus dodatkovi zasobi for borrowing from the class. For the ear, the mother will be allowed to address the e-mail address of the school.
                    .microsoft-office-wr__img
                        img(src='images/bg/office.png')
            include ../include/section_busines.pug
            include ../include/footer.pug