$white: #ffffff;
$black: #000000;
$tuna: #373742;
$smoky: #f7f7f7;
$alabaster: #fafafa;
$gray: #323232;
$black_header: #1d1d1d;
$yellow: #ffbd56;
$dark_yellow:#ed8c0f;
$border: $black;
$base: $black;
$link: $dark_yellow;
$bg-base: $white;
$sec_bg:#262626;
$bg_smoky:#f1f1f1;
$blue_title:#00549b;
$gray_foot:#444444;
$gray2: #7c7c7c;

$f-size: 14px;

//font-weight
$thin:100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

$footer: 260px;

$contentWidth: 1200px;

$f-stack: 'Roboto', sans-serif;
$f-stack-spec: 'Helvetica', sans-serif;